#title {
  text-align: center;
}

#cor1 {
  background-color: black;
  color: white;
  margin-left: 425px;
}

#cor2 {
  background-color: red;
}

#cor3 {
  background-color: blue;
}

#cor4 {
  background-color: green;
}

.color {
  border: 1px black solid;
  display: inline-block;
  padding: 50px;
}

#button-random-color {
  background-color: grey;
  margin-left: 46%;
  margin-right: 46%;
  text-align: center;
}

.pixel{
    padding: 50px;
    background-color: white;
    display: inline-block;
    border: 1px black solid;
    height: 40px;
    width: 40px;
}
.primeiroPixel{
    margin-left: 365px;
}